<div>
  <ng-container *ngFor="let botao of botoes">
    <button
      class="maps-button"
      color="primary"
      mat-raised-button
      [disabled]="botao.disable"
      (click)="botao.fn()"
      [matMenuTriggerFor]="botao.submenu ? subMenu : null">
      <span class="align-baseline">
        {{ botao.label }}
        <i class="fa fa-caret-down" *ngIf="botao.submenu"></i>
      </span>
    </button>

    <mat-menu #subMenu="matMenu">
      <button 
        mat-menu-item 
        *ngFor="let subMenuItem of botao.submenu"
        [disabled]="subMenuItem.disable"
        (click)="subMenuItem.fn()">
        {{ subMenuItem.label }}
      </button>
    </mat-menu>
  </ng-container>
</div>
